* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #022741;
	font-family: Montserrat, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

//Sigurd's Legeplads//

.bg-question{
	background-color: #282b2d;
}

.bg-outer_question{
	background-color: #1a1e21;
}

.p-max{
	max-width: 800px;
}

.p-min{
	min-width: 250px;
}

.image{
	width: 200px;
	padding-left: 50px;
	padding-right: 50px;
}
.graphic_game{
	width: 300px;
}

.storage{
	width: 250px;
}

.selected{
	outline: #0a58ca solid 3px;
}

span{
	color: #CD38B7;
}

.case{
	height: 400px;
	object-fit: cover;
}

.pc_comp_img{
	width: 450px;
	height: 450px;
	object-fit: cover;
}

.bg-pcblue{
	background-color: #011a2c;
}

.card-body{
	background-color: #2E3D63;
}

.card{
	width: 300px;
	background-color: #022741;
}

.done_game {
	filter: brightness(60%);
}

.com_icon{
	width: 75px;
}

.w-85{
	width: 85%!important;
}

//Sid's Legeplads//

	//NAVBAR
.opasity{
	background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(121, 121, 121, 0.04));
}
.navbar_logo{
	height: 4vh;
}

.navbar a{
	color: white;
}

.active{
	color: #D1019B !important;
	font-weight: bold;
}

	//FOOTER
.footer_logo{
	height: 6vh;
}

.footer_icon{
	font-size: 4vh;
}

.footer_icon:hover {
	color: #D1019B;
}

	//SUPPORT Styling



//Christian's Legeplads//
//-------scrool animation--------//
.scrolldown {
	--color: white;
	--sizeX: 20px;
	--sizeY: 35px;
	position: relative;
	width: var(--sizeX);
	height: var(--sizeY);
	margin-left: var(sizeX / 2);
	border: calc(var(--sizeX) / 10) solid var(--color);
	border-radius: 50px;
	box-sizing: border-box;
	margin-bottom: 16px;
}

.scrolldown::before {
	content: "";
	position: absolute;
	bottom: 21px;
	left: 50%;
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: var(--color);
	border-radius: 100%;
	animation: scrolldown-anim 2s infinite;
	box-sizing: border-box;
	box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
	0% {
		opacity: 0;
		height: 6px;
	}
	40% {
		opacity: 1;
		height: 10px;
	}
	80% {
		transform: translate(0, 20px);
		height: 10px;
		opacity: 0;
	}
	100% {
		height: 3px;
		opacity: 0;
	}
}
.chevrons {
	padding: 6px 0 0 0;
	margin-left: -3px;
	margin-top: 34px;
	width: 22.5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.chevrondown {
	margin-top: -2px;
	position: relative;
	border: solid var(--color);
	border-width: 0 3px 3px 0;
	display: inline-block;
	width: 9px;
	height: 9px;
	transform: rotate(45deg);
}
.chevrondown:nth-child(odd) {
	animation: pulse 500ms ease infinite alternate;
}
.chevrondown:nth-child(even) {
	animation: pulse 500ms ease infinite alternate 250ms;
}
@keyframes pulse {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.5;
	}
}
//-------scrool animation--------//
.image_box{
	min-height: 50vh;
	height: 100vh;
}
.image_front{
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.frontpage-text{
padding-top: 15rem;
}
	.button_box{
		padding-top: 1rem;
	}
	.scroll_icon{
		padding-top: 15rem;
	}
	.icon_box{
		height: 5vh;
		padding-top: 3rem;
	}
.front-font{
	color: #fff7ff;
	font-size: 1.7rem;
	font-family: Montserrat;
	font-weight: bolder;
}
.paragraph-font{
	font-weight: normal;
	font-size: 0.9rem;
	color: #fff7ff;
	font-family: Montserrat;
}
.button{
	background-image: linear-gradient(to right, #55ee92, #1d95e5);
	height: 2rem;
	width: 6rem;
	transition: background-color 1s;
}
.button1{
	background-image: linear-gradient(to right, #55ee92, #1d95e5);
	height: 2rem;
	width: 7rem;
	transition: background-color 1s;
}
.knap-text{
	color: #ffffff;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 0.7rem;
}
.knap-text:hover{
	color: #41ffe2;
}
.button:hover, .gradient-hover-effect:focus{
	background-image: linear-gradient(to right, #ee55cf, #3a11b2);
	transform: scale(1.03);
	transition: 100ms;
}
.button1:hover, .gradient-hover-effect:focus{
	background-image: linear-gradient(to right, #ee55cf, #3a11b2);
	transform: scale(1.03);
	transition: 100ms;
}
.icon_front{
	font-size: 1.5rem;
	color: #ffffff;
}
.icon_front1{
	color: #ee55cf;
}
.icon_front1:hover{
	color: #17e194;
}
.icon_front:hover{
	color: #ee55cf;
 }
.tag:hover{
	color: #2ceca9;
}
//-------Content--------//
.john{
	background-color: #f8f8f8;
	height: 3rem;
}
.john1{
	position: relative;
	isolation: isolate;
}
.instaheader{
	background-color: #f8f8f8;
	height: 20vh;
}
.insta-container{
	background-color: #000000;
}
.john1::after{
	content: '';
	background-color: #1f2d4d;
	position: absolute;
	inset: 0;
	transform: skewY(var(--skew-angle));
	z-index: -1;
}
.card_front{
	background-image: linear-gradient( rgb(24, 24, 24), #020202);
	border-radius: 15px;
	width: 18rem;
}
.header-font{
	padding-top: 3rem;
	font-size: 1.3rem;
	color: #ffffff;
	font-family: Montserrat;
	font-weight: bold;
}
.soft-header-font{
	font-size: 1rem;
	color: #ffffff;
	font-family: Montserrat;
	font-weight: bold;
}
.card-text1{
	font-family: Montserrat;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.7;
}
.rubrik1{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 1.2rem;
	color: #00bdff;
}
.rubrik2{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 1.2rem;
	color: #5e387c;
}
.rubrik3{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 1.2rem;
	color: #2ceca9;
}
.instabox{
	min-height: 5vh;
	height: 25vh;
}
.instabox:hover{
	opacity: .6;
	transition: 50ms ease-out;
}
.instaimage{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.instafont{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 1.4rem;
	color: #171717;
}
.icon_box1{
	height: 5vh;
	margin-bottom: 4rem;
}
.icons{
	font-size: 2rem;
}
//-------Content--------//
//-------about----------//
.about-us{
	background-color: #000917;
}
.filler{
	background-color: #273557;
	height: 25vh;
}
.about_header{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 1.8rem;
	color: #ffffff;
}
.about_subheader{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 1.3rem;
	color: #ffffff;
}
.about_card{
	border-radius: 100px ;
}
.about_card_omega{
	height: 80vh;
}
.img-about{
	border-radius: 5px ;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.intro-text{
	font-family: Montserrat;
	font-weight: bold;
	font-size: 1.3rem;
	color: #ffffff;
}
.padding-class{
	padding-left: 12rem;
}
//-------about----------//
@media screen and (min-width: 375px){
	.scroll_icon{
	padding-top: 6rem;
	}
	.icon_box{
		padding-top: 3.2rem;
	}
}
@media screen and (min-width: 414px){
	.scroll_icon{
		padding-top: 12rem;
	}
	.icon_box{
		padding-top: 6rem;
	}
}
@media screen and (min-width: 768px){
	.john{
		height: 6rem;
	}
	.front-font{
		font-size: 2.4rem;
	}
	.paragraph-font{
		font-size: 1rem;
	}
	.scroll_icon{
		top: 35rem;
	}
	.instabox{
		height: 25vh;
	}
	.instafont{
		font-size: 1.6rem;
	}
	.button1{
		background-image: linear-gradient(to right, #55ee92, #1d95e5);
		height: 4vh;
		width: 7rem;
		transition: background-color 1s;
	}
	.instabox{
		height: 20vh;
	}
}
@media screen and (min-width: 1024px){
	.front-font{
		font-size: 2.4rem;
	}
	.paragraph-font{
		font-size: 1rem;
	}
	.instabox{
		height: 20vh;
	}
	.instafont{
		font-size: 1.8rem;
	}
	.card_front{
		background-image: linear-gradient( rgb(24, 24, 24), #020202);
		border-radius: 15px;
		width: 18rem;
		height: 53vh;
	}
	.icon_box{
		padding-top: 5rem;
	}
}
@media screen and (min-width: 1440px){

	.john{
		height: 7rem;
	}
	.paragraph-font{
		font-size: 1.2rem;
	}
	.scroll_icon{
		padding-top: 12rem;
	}
	.icon_box{
		padding-top: 8rem;
	}
	.button{
		height: 4.3vh;
		width: 9rem;
	}
	.soft-header-font{
		font-size: 1.4rem;
	}
	.knap-text{
		top: 5%;
		font-size: 1rem;
	}
	.header-font{
		font-size: 1.9rem;
	}
	.instabox{
		min-height: 5vh;
		height: 30vh;
	}
	.instafont{
		font-size: 2rem;
	}
	.icons{
		font-size: 2.3rem;
	}
	.button1{
		background-image: linear-gradient(to right, #55ee92, #1d95e5);
		height: 2.6rem;
		width: 9rem;
		transition: background-color 1s;
	}
	.frontpage-text{
		padding-top: 19rem;
	}
}
