* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #022741;
	font-family: Poppins;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
	font-family: Poppins;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

//Sigurd's Legeplads//

.bg-question{
	background-color: #282b2d;
}

.bg-outer_question{
	background-color: #1a1e21;
}

.p-max{
	max-width: 800px;
}

.p-min{
	min-width: 250px;
}

.image{
	width: 200px;
	padding-left: 50px;
	padding-right: 50px;
}
.graphic_game{
	width: 500px;
}


.selected{
	outline: #0a58ca solid 3px;
}

span{
	color: #CD38B7;
}

//Sid's Legeplads//

//Christian's Legeplads//
.image_box{
	min-height: 50vh;
	height: 100vh;
}
.image_front{
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.frontpage-text{
top: 38%;
}
.front-font{
	color: #fff7ff;
	font-size: 1.7rem;
	font-family: Montserrat;
	font-weight: bolder;
}
.paragraph{
	top: 39%;
}
.paragraph-font{
	color: #fff7ff;
	font-size: 0.9rem;
	font-family: Montserrat;
	font-weight: bold;
}
.icon_box{
	height: 5vh;
	top: 87.4%;
}
.icons{
	color: #e8e8e8;
	font-size: 1.8rem;
}
.button_box{
	top: 36%;
}
.button{
	background-image: linear-gradient(to right, #55ee92, #1d95e5);
	height: 4.3vh;
	width: 7rem;
	transition: background-color 1s;
}
.pc-font{
	color: #ffffff;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 0.9rem;
}
.button:hover, .gradient-hover-effect:focus{
	background-image: linear-gradient(to right, #ee55cf, #3a11b2);
	transform: scale(1.03);
	transition: 100ms;
}
.scroll_icon{
	top: 55%;
}

.icon_front:hover{
	color: #ee55cf;
 }

//-------scrool animation--------//
.scrolldown {
	--color: white;
	--sizeX: 25px;
	--sizeY: 45px;
	position: relative;
	width: var(--sizeX);
	height: var(--sizeY);
	margin-left: var(sizeX / 2);
	border: calc(var(--sizeX) / 10) solid var(--color);
	border-radius: 50px;
	box-sizing: border-box;
	margin-bottom: 16px;
}

.scrolldown::before {
	content: "";
	position: absolute;
	bottom: 30px;
	left: 50%;
	width: 6px;
	height: 6px;
	margin-left: -3px;
	background-color: var(--color);
	border-radius: 100%;
	animation: scrolldown-anim 2s infinite;
	box-sizing: border-box;
	box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
	0% {
		opacity: 0;
		height: 6px;
	}
	40% {
		opacity: 1;
		height: 10px;
	}
	80% {
		transform: translate(0, 20px);
		height: 10px;
		opacity: 0;
	}
	100% {
		height: 3px;
		opacity: 0;
	}
}
.chevrons {
	padding: 6px 0 0 0;
	margin-left: -3px;
	margin-top: 48px;
	width: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.chevrondown {
	margin-top: -6px;
	position: relative;
	border: solid var(--color);
	border-width: 0 3px 3px 0;
	display: inline-block;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
}
.chevrondown:nth-child(odd) {
	animation: pulse 500ms ease infinite alternate;
}
.chevrondown:nth-child(even) {
	animation: pulse 500ms ease infinite alternate 250ms;
}
@keyframes pulse {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.5;
	}
}
//-------scrool animation--------//
//-------Content--------//
.john{
	height: 300vh;
	background-color: #2e3d63;

}
.john1{
	height:190vh;
	top: 115%;

	--skew-angle: 2deg;
	position: relative;
	isolation: isolate;

}
.john1::after{
	content: '';
	background-color: #1f2d4d;
	position: absolute;
	inset: 0;
	transform: skewY(var(--skew-angle));
	z-index: -1;
}
.card_front{
	height:50vh ;

	background: #000000;
	border-radius: 15px;
	border: solid #1693ce 3px;
}



//-------Content--------//
@media screen and (min-width: 768px){
	.front-font{
		font-size: 2.4rem;
	}
	.paragraph-font{

		font-size: 1rem;

	}
	.icon_box{
		height: 5vh;
		top: 85.5%;
	}
	.icons{
		color: #e8e8e8;
		font-size: 1.8rem;
	}
	.scroll_icon{
		top: 70%;
	}
}
@media screen and (min-width: 1024px){
	.front-font{
		font-size: 2.4rem;
	}
	.paragraph-font{

		font-size: 1rem;

	}

}
@media screen and (min-width: 1440px){
	.front-font{
		font-size: 3rem;
	}
	.paragraph-font{

		font-size: 1.2rem;

	}
	.icon_box{

		height: 5vh;
		top: 83%;
	}
	.icons{
		color: #e8e8e8;
		font-size: 2rem;
	}
	.button{
		height: 4.6vh;
		width: 9rem;

	}
	.pc-font{
		color: #ffffff;
		font-family: Montserrat;
		font-weight: bold;
		font-size: 1.1rem;
	}
}
