* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #022741;
	font-family: Poppins;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
	font-family: Poppins;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.bg-question{
	background-color: #282b2d;
}

.bg-outer_question{
	background-color: #1a1e21;
}

.p-max{
	max-width: 800px;
}

.image{
	width: 200px;
	padding-left: 50px;
	padding-right: 50px;
}

.selected{
	border: #0a58ca solid 2px;
}

span{
	color: #CD38B7;
}